@import url("https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong|Mooli|Fuzzy Bubbles|Nova Cut");
html{
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}
body{
    background-image: linear-gradient(to right,#4568dc ,#516395);
    width: 100%;
    height: 100%;
}

.navbar{
  background-image: linear-gradient(to right,#4568dc ,#516395);
  padding-top: 20px;
}
.navbar-nav{
  color: wheat;
}
@media (min-width: 769px) and (max-width: 1200px){
  .navbar-nav{
    font-size:25px;
    color: wheat;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .navbar-nav{
    color: wheat;
    font-size: 20px;
  }
}
@media (min-width: 500px){
  .navbar-nav{
    color: wheat;
    font-size: 10px;
  }
}
.first h1{
  font-size: 50px;
  padding-bottom: 20px;
  padding-top: 80px;
  padding-left: 50px;
  font-family:'Times New Roman', Times, serif;
  color: wheat;
}

/* CSS animation for typing effect */
.typed{
    color: wheat;
    font-family:'Times New Roman', Times, serif;
    padding-left: 50px;
    font-size: 35px;
}
.typed::before {
    content: "";
    display: inline-block;
    width: 0;
    overflow: hidden;
    border-right: 0.15em solid #000; /* Adjust the border style as needed */
    white-space: nowrap;
    animation:  blink-caret 0.5s step-end infinite;
  }
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #000; /* Adjust the border color as needed */
    }
  }
  @media (min-width: 769px) and (max-width: 1200px){
    .first h1{
      font-size: 50px;
      padding-bottom: 20px;
      padding-top: 80px;
      padding-left: 50px;
      font-family:'Times New Roman', Times, serif;
      color: wheat;
    }
    
    /* CSS animation for typing effect */
    .typed{
        color: wheat;
        font-family:'Times New Roman', Times, serif;
        padding-left: 50px;
        font-size: 35px; 
    }
  }
  @media (min-width: 501px) and (max-width: 768px) {
    .first h1{
      font-size: 40px;
      padding-bottom: 20px;
      padding-top: 80px;
      padding-left: 50px;
      font-family:'Times New Roman', Times, serif;
      color: wheat;
    }
    
    /* CSS animation for typing effect */
    .typed{
        color: wheat;
        font-family:'Times New Roman', Times, serif;
        padding-left: 50px;
        font-size: 25px;
        text-decoration: underline; 
    }
  }
@media (max-width: 500px) {
  .first h1{
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 80px;
    padding-left: 50px;
    font-family:'Times New Roman', Times, serif;
    color: wheat;
  }
  
  /* CSS animation for typing effect */
  .typed{
      color: wheat;
      font-family:'Times New Roman', Times, serif;
      font-size: 30px;
      padding-left: 50px;
      font-size: 20px;
      text-decoration: underline; 
  }
}
.resume {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
}

button {
  padding: 10px 20px;
  font-size: 25px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}
button:hover {
  background-color: #0056b3; /* Change the background color on hover */
}
.resume i{
  padding-left: 15px;
}
@media (max-width: 500px)  {
  .resume button{
  padding: 8px 16px;
  font-size: 12px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  }
}
@media (max-width: 360px) {
  .resume button{
    padding: 6px 12px;
    font-size: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    }
}


.container1{
    display: flex;
    flex-direction: row-reverse; 
    padding-bottom: 40px;
}
.container1 p{
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    color: whitesmoke;
    padding-left: 10px;
    padding-top: 20px;
    
}
.container1 svg{
    background-image: url("./artifacts/back.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
.container1 abbr{
    text-decoration: none;
}
@media (min-width: 769px) and (max-width: 1200px) {
  .container1 p{
    font-size: 30px;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .container1{
    display: flex;
    flex-direction: column;
  }
  .container1 p{
    font-size: 25px;
  }
}
@media (max-width: 500px)  {
  .container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container1 p{
    font-size: 20px;
  }
  svg{
    height: 250px;
    width: 250px;

  }
}
.container2{
    border: 2px solid black;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./artifacts/waves.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#btnscrolltotop{
  position: fixed;
  right: 20px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 50%;
  background: orchid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
}
.container2 img{
    width: 450px;
    height:400px;
    filter: drop-shadow(30px 10px 4px #4444dd);
    align-items: center;
    
}
.skills .skills-heading {
    font-size: 2rem;
    font-weight: 6000;
    font-family:"Mooli",serif;
    color: wheat;
    text-align: center;
  }
  .skills-bar {
    padding: 25px 30px;
  }
  
  .skills-bar .bar {
    margin: 25px 0;
  }
  
  .skills-bar .bar .info span {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .skills-bar .bar .info {
    margin-bottom: 8px;
    color: #f0f0e6;
  }
  
  .skills-bar .bar .progress-line {
    position: relative;
    height: 10px;
    width: 550px;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  
  .bar .progress-line span {
    position: absolute;
    background: darkblue;
    height: 100%;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  
  @keyframes animate {
    100% {
      transform: scaleX(1);
    }
  }
  
  .progress-line .html {
    width: 80%;
  }
  .progress-line .css {
    width: 70%;
  }
  .progress-line .java {
    width: 70%;
  }
  .progress-line .javascript {
    width: 50%;
  }
  .progress-line .ui {
    width: 60%;
  }
  .progress-line .python{
    width: 90%;
  }
  
  .bar .progress-line span::before {
    position: absolute;
    content: "";
    height: 0;
    right: 0;
    top: -12px;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-style: #f0f0f0;
    border-top-color: #f0f0f0;
  }
  
  .bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: #07374a;
    font-size: 12px;
    font-weight: 700;
    background: #f0f0f0;
    padding: 1px 8px;
    border-radius: 3px;
  }
  
  .progress-line .html::after {
    content: "80%";
  }
  .progress-line .css::after {
    content: "70%";
  }
  .progress-line .java::after {
    content: "70%";
  }
  .progress-line .javascript::after {
    content: "50%";
  }
  .progress-line .ui::after {
    content: "60%";
  }
  .progress-line .python::after {
    content: "0%";
  }
  @media (max-width: 500px) {
    .container2{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .container2 img{
      height: 250px;
      width: 350px;
    }
    .skills {
      width: 100%;
    }
    .skills .skills-heading {
      font-size: 1.5rem;
      font-weight: 6000;
      font-family:"Mooli",serif;
      color: wheat;
      text-align: center;
    }
  
    .skills-bar .bar .progress-line {
      width: 100%;
    }
  }
  @media (min-width: 501px) and (max-width: 768px) {
    .skills {
      width: 100%;
    }
  
    .skills-bar .bar .progress-line {
      width: 100%;
    }
  } 
  @media (min-width: 769px) and (max-width: 1200px) { 
      .skills{ 
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
    }
  }
  .container3{
    padding-top: 30px;
    text-align: center;
    
  }
  .container3 h3{
    font-size: 30px;
    font-family:"Mooli",serif;
    color: wheat;
  }
  .container3 .works{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 10px;
    border: 2px solid black;
    background-image: url("./artifacts/works.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .box {
    width: 250px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 8px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
iframe {
  padding-bottom: 10px;
  border: none;
  width: 100%;
  height: 100%;
}


.box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 600px;
  margin: 0 auto;
  margin-bottom: 50px; 
}


.box-caption {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
.box-description {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  color: whitesmoke;
}

.box img {
    max-width: 100%;
    height: auto;
}  
.box .caption {
    font-weight: bold;
    margin-top: 10px;
    color: whitesmoke;
    text-decoration: underline;
}

.box .details {
    margin-top: 5px;
    color: whitesmoke;
}
.more{
  padding: 15px;
}
.more a{
  text-decoration: none;
  padding: 5px;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 2px solid black;
  border-radius: 15px;
  background-image: url("./artifacts/linear\ waves.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.more a i{
  padding-left: 10px;
}

.contact {
  background-image: url("./artifacts/blurry-gradient-haikei.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 92vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Outer shadow */
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); /* Inner shadow */
}
.contact-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.contact-content h2 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #252ab7;
  padding-bottom: 0.5rem;
}
.contact-content h2 i{
  padding-left: 10px;
  color: whitesmoke;
}

.contact-content .mail {
  color: #f0f0e6;
  padding-bottom: 0.2rem;
  font-size: 1rem;
}

.contact-content .links {
  color: #2525b7;
  padding: 0.5rem;
  padding-bottom: 1.8rem;
  font-size: 1rem;
}

.contact-content a {
  text-decoration: none;
  color: #010101;
  padding: 0.5rem;
  transition: 0.3s ease-in-out;
}

.contact-content a:hover {
  color: #f0f0e6;
}
@media (max-width: 500px){
  .contact {
    background-image: url("./artifacts/blurry-gradient-haikei.png");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 92vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Outer shadow */
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); /* Inner shadow */
  }
}
@media (max-width: 500px) {
  .contact-content {
    width: 100%;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .contact-content {
    width: 100%;
  }
  .contact {
    background-image: url("./artifacts/blurry-gradient-haikei.png");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 92vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Outer shadow */
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); /* Inner shadow */
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .contact-content {
    width: 100%;
  }
  .contact {
    background-image: url("./artifacts/blurry-gradient-haikei.png");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 92vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Outer shadow */
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); /* Inner shadow */
  }
}
svg#freepik_stories-design-inspiration:not(.animated) .animable {opacity: 0;}svg#freepik_stories-design-inspiration.animated #freepik--light-bulb--inject-2 {animation: 1.5s Infinite  linear floating;animation-delay: 0s;}            @keyframes floating {                0% {                    opacity: 1;                    transform: translateY(0px);                }                50% {                    transform: translateY(-10px);                }                100% {                    opacity: 1;                    transform: translateY(0px);                }            }       
